version: '3.0'
services:
  darkwire:
    build: .
    #image: noxcis/darkwire:test
    environment:
      - TZ=UTC
      - VITE_API_PORT=3001
      - VITE_API_HOST=localhost
      - VITE_API_PROTOCOL=http
      - VITE_COMMIT_SHA=some_sha
      - VITE_MAX_FILE_SIZE=4
      - MAILGUN_API_KEY=api-key
      - MAILGUN_DOMAIN=darkwire.io
      - ABUSE_TO_EMAIL_ADDRESS=abuse@darkwire.io
      - ABUSE_FROM_EMAIL_ADDRESS=Darkwire <no-reply@darkwire.io>
      - CLIENT_DIST_DIRECTORY='client/dist'
      - ROOM_HASH_SECRET='some-uuid'
      - SITE_URL=https://darkwire.io
      - STORE_BACKEND=memory
    networks:
      - db
    ports:
      - 3001:80
      - 4001:443
      - 5001:3001
networks:
  db:
