<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FattyChat - Anonomous Chat</title>
  <link rel="stylesheet" href="style.css">
  <script>
  window.username = '{{username}}';
  </script>
</head>
<body>
  <ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>
    </li>
  </ul>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>
</html>
