<p class="bold">DISCLAIMER: This software uses the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Crypto" target="_blank">Crypto Web API</a> to encrypt data which is transferred using <a href="https://en.wikipedia.org/wiki/WebSocket" target="_blank">secure WebSockets</a>. Darkwire does not mask IP addresses nor can verify the integrity parties recieving messages. Proceed with caution and always confirm recipients before continuing.</p>

<p><a href="https://github.com/seripap/darkwire.io" target="_blank">Darkwire.io believes in privacy and full transparency. View the source code and documentation on Github.</a></p>

{{#APP.ip}}
<p class="bold">Recognized IP: <a href="http://ipinfo.io/{{APP.ip}}/json" target="_blank">{{APP.ip}}</a>*</p>
<p>*This IP is your public IP recognized by all web servers. If this IP and/or its location data seems familiar to you, we recommend using <a href="https://www.torproject.org/" target="_blank">TOR</a> or a proxy before starting a new chat session.</p>
{{/APP.ip}}
