/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

html, body, input {
  font-family:
    "Open Sans",
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

p {
  margin: 15px 0 15px;
}

/* Typography */
.bold {
  font-weight: 700;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

input {
  font-size: 16px;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 80px;
  padding-top: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage{
  border: none;
  border-top: 2px solid #ececec;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

#settings-modal .modal-footer button.encryption-inactive {
  display: none;
}

#first-modal .modal-footer button.encryption-inactive {
  display: none;
}

#join-modal .modal-footer button.encryption-active {
  display: none;
}

.chat #input-icons {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.chat .warning-sign {
  display: none;
  cursor: pointer;
  color: red;
  font-size: 24px;
}

.inputMessage.encryption-disabled {
  background-color: rgba(254, 6, 6, 0.15);
}

.participants {
  position: relative;
  top: 16px;
  text-align: center;
}